<tr id="overview-{{ id }}" class="{{# if disabled }}disabled{{/if}}" width="100%">
  <td style="width: 24px"><img src="{{ icon }}" class="icon"></td>
  <td style="width: 200px; vertical-align: middle;"><strong>{{ name }}</strong></td>
  <td style="vertical-align: middle;">{{ summary }}</td>
  <td style="vertical-align: middle;"><button type="button" class="btn" style="padding: 1px 6px;" data-toggle="collapse" data-target="#details-{{ id }}">&#9660;</button></td>
</tr>
